<div class="sidebar-menu">
  <h3 class="menu-title">General</h3>
  <ul class="menu-items">
    <li>
      <a href="/dashboard"
        ><span class="material-icons md-16">home</span> Dashboard</a
      >
    </li>
    <li>
      <a href="/users"><span class="material-icons md-16">group</span> Users</a>
    </li>
  </ul>
  <h3 class="menu-title">Settings</h3>
  <ul class="menu-items">
    <li>
      <a href="/settings"
        ><span class="material-icons md-16">settings</span> General</a
      >
    </li>
    <li>
      <a href="/account"
        ><span class="material-icons md-16">person</span>Account</a
      >
    </li>
    <li>
      <a href="/billing"
        ><span class="material-icons md-16">payments</span> Billing</a
      >
    </li>
    <li>
      <a href="/"
        ><span class="material-icons md-16">logout</span> Logout</a
      >
    </li>
  </ul>
</div>
