.btn {
  @apply py-2 px-4 rounded inline-flex items-center justify-center border-2;
}

.btn-primary {
  @apply bg-primary text-white border-primary hover:bg-primary-dark hover:border-primary-dark;
}

.btn-primary-outlined {
  @apply text-primary hover:bg-primary hover:text-white border-primary hover:border-primary;
}

.btn-full {
  @apply w-full;
}

.btn-google {
  @apply hover:bg-slate-100;
}

.btn-google div {
  @apply flex gap-2;
}

.btn-google svg {
  @apply w-6 h-6;
}

.form-input {
  @apply border p-2.5 rounded focus:ring-2 focus:outline-none focus:ring-primary;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
